<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href='../assets/css/custom-fonts.css' rel='stylesheet'>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <style>
      html, body{
        font-family: Lato;
        background-color: #F6A;
        color: white;
        overflow: hidden;
        margin: 0;
        padding: 0;
      }
      .header{
        text-align: center;
        margin-top: 15px;
        width: 100vw;
        font-size: 40px;
      }
      .table {
        width: 100vw;
        height: 40vh;
      }
      .table > div {
        width: 33vw;
        display: inline-block;
        text-align: center;
      }
    </style>
    <title></title>
  </head>
  <body>
    <div class='header'>
      Thank you for installing Prosu!
    </div>
    <div class='table'>
      <div>Hi</div>
      <div>Hi</div>
      <div>Hi</div>
    </div>
    <i class="fab fa-github"></i>
    <br>
  </body>
</html>
