<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="../assets/css/custom-fonts.css" rel='stylesheet'>
  <style>
    html,
    body {
      padding: 0;
      margin: 0;
      margin-left: 10px;
      background-color: #F6A;
      font-family: Lato;
      color: white;
      text-align: left;
    }

    .title {
      font-size: 60px;
      margin-bottom: -10px;
    }

    .version, .copyright{
      font-size: 14px;
      padding-left: 5px;
    }
    .status {
      text-align: center;
      font-size: 14px;
      position: absolute;
      bottom: 10px;
      left: 20px;
    }
  </style>
  <title></title>
</head>

<body>
  <div class='title'>Prosu</div>
  <span class='version'>Version: <script>document.write(require('electron').remote.app.getVersion())</script></span>
  <br>
  <span class='copyright'>Copyright &copy; 2018 Wyatt Calandro</span>
  <br><br>
  <br><br>
  <span class='status'>&nbsp;</span>
  <script>
    window.$ = window.jQuery = require('jquery');
  </script>
</body>

</html>
